<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ps12922_HoManhDung_ASM</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        h1 {
            background: linear-gradient(to right, #d398df, #25ddce);
            color: azure;
        }

        #naitem:hover {
            background-color: #e3f2fd;
            color: red;
        }

        .adesi {
            color: black;
        }

            .adesi:hover {
                color: red;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home" style="background: linear-gradient(to right, #d85619, #aee21d);"></i>    𝓥𝓲𝓮𝓽 𝓝𝓪𝓶 𝓕𝓸𝓸𝓭 ☀ 𝓓𝓻𝓲𝓷𝓴</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_WebLoginPartial" />
                    @*<ul class="navbar-nav flex-grow-1">
                            <li class="navbar-nav flex-grow-1">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                            </li>
                        </ul>*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:black">
        <div class="container " style="color: white; text-align: center">
            ☎ Hồ Mạnh Dũng - 0396313488 - <a asp-area="" asp-controller="Home" asp-action="Privacy">dunghm2408@gmail.com</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
