@model Ps12922_HoManhDung_ASM.Models.Nguoidung

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm người dùng</h1>

<h4>Người dùng</h4>
<hr />
<div class="row">
    <div class="col-xl-6 mx-auto">
        <div class="card card-signin flex-row shadow-lg card-signup">
            <div class="card-body">
                <h2 class="card-title text-center font-weight-bold text-uppercase">Thêm người dùng</h2>

                <div class="col-md-12">
                    <form asp-action="Create" class="form-signin">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-label-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="DOB" class="control-label"></label>
                            <input asp-for="DOB" class="form-control" />
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                        <div class="form-label-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Admin" /> @Html.DisplayNameFor(model => model.Admin)
                            </label>
                        </div>
                        <div class="form-label-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Locked" /> @Html.DisplayNameFor(model => model.Locked)
                            </label>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input type="submit" value="Tạo người dùng" class="text-center btn btn-lg btn-info btn-block text-uppercase" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

            <div>
                <a class="text-decoration-none adesi" asp-action="Index">Trở lại</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
