@model Ps12922_HoManhDung_ASM.Models.MonAn

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm món ăn</h1>

<h4>Món ăn</h4>
<hr />
<div class="row">
    <div class="col-xl-6 mx-auto ">
        <div class="card card-signin flex-row shadow-lg card-signup">
            <div class="card-body">
                <h2 class="card-title text-center font-weight-bold text-uppercase">Thêm món ăn</h2>

                <div class="col-md-12">
                    <form asp-action="Create" enctype="multipart/form-data" class="form-signin">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-label-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="Gia" class="control-label"></label>
                            <input asp-for="Gia" class="form-control" />
                            <span asp-validation-for="Gia" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="Phanloai" class="control-label"></label>
                            <select asp-for="Phanloai" class="form-control" asp-items="Html.GetEnumSelectList<Phanloai>()">
                                <option value="0">Select type ...</option>
                            </select>
                            <span asp-validation-for="Phanloai" class="text-danger"></span>
                        </div>
                        <div class="form-label-group" style=" display: none;">
                            <label asp-for="Hinh" class="control-label"></label>
                            <input asp-for="Hinh" class="form-control" />
                            <span asp-validation-for="Hinh" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" class="form-control" type="file" />
                        </div>
                        <div class="form-label-group">
                            <label asp-for="Mota" class="control-label"></label>
                            <input asp-for="Mota" class="form-control" />
                            <span asp-validation-for="Mota" class="text-danger"></span>
                        </div>
                        <div class="form-label-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Trangthai" /> @Html.DisplayNameFor(model => model.Trangthai)
                            </label>
                        </div>
                        <div class="form-label-group">
                            <input type="submit" value="Create" class="text-center btn btn-lg btn-info btn-block text-uppercase" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            <div>
                <a class="text-decoration-none adesi" asp-action="Index">Trở về</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
