@model Ps12922_HoManhDung_ASM.Models.ViewModels.ViewWebLogin

@{ 
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<h1 >Login - Website</h1>
<div class="text-danger" asp-validation-summary="All"></div>
<div class="row mt-5">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin ctn-dn shadow-lg">
            <div class="card-body">
                <h2  class="card-title text-center font-weight-bold">Đăng Nhập</h2>
                <form asp-action="Login" class="form-signin" method="post">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div class="form-label-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-label-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="Password" class="form-control" />
                    </div>
                    <button class="btn font-weight-bold btn-lg btn-info btn-block text-uppercase mt-3" type="submit">Đăng nhập</button>
                </form>
            </div>
        </div>
    </div>
</div>